.styled > p {
    display: inline-block;
    max-width: 100px;
    vertical-align: top;
    margin-top: 0;
    margin-right: 10px;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: linear-gradient(rgb(100, 200, 100), rgb(75, 150, 75));
    border-radius: 3px;
    color: white;
    padding: 10px 20px;
}

.styled > div {
    display: inline-block;
    padding: 20px;
    border-radius: 3px;
    background: #04bcbe;
    color: #fff;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    font-size: 12px;
    vertical-align: top;
}
