.shop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cart {
    min-width: 500px;
}

.article {
    max-width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.article p {
    margin-right: 30px;
}

.article button {
    margin-top: 8px;
}