.todos {
    max-width: 300px;
    margin: 0 auto;
}

.todos h2 {
    font-size: 0.9em;
}

.todos input[type=text] {
    padding: 10px;
    border-radius: 2px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.todos button {
    margin-top: 15px;
    display: block;
}

.todo {
    padding: 10px 0;
}

.todo input[type=checkbox] {
    width: 30px;
    border: 1px solid rgba(0, 0, 0, .3);
}